.button {
  height: 36px;
  padding: 4px 30px;
  border-radius: 200px;
  background-color: rgba(0,0,0,1);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button:disabled {
  background-color: rgba(0,0,0,.1);
  cursor: default
}
