.name-bar {
  display: flex;
  justify-content: space-between;
  color: white;
}

.name-and-pic {
  display: flex;
  gap: 12px;
  align-items: center;
}

.profile-pic {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.functional-buttons {
  display: flex;
  gap: 15px;
}

.name {
  font-family: "Oxygen", sans-serif;
}
