.consumed-product {  
  background-color: white;  
  display: flex;
  flex-direction: column;
  padding-block: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nutritions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  font-size: 12px;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 4px;
  box-sizing: border-box;
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrow-collapsed {
  transform: rotate(0deg);
}

.arrow-expanded {
  transform: rotate(180deg);
}

.product-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;

  white-space: nowrap; /* Prevent the text from wrapping to a new line */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Add ellipsis (...) to truncated text */
  max-width: 40vw; /* Set a maximum width for the element */
  display: inline-block; /* Required for ellipsis to work */
}

.time-consumed {
  font-size: 12px;
  opacity: 50%;
}

.mass-kcal-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name-mass {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}

.name-time-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.mass-kcal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  font-size: 12px;
}

.consumed-product-stat {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-inline: 54px;
}