* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* width: clamp(420px, 80vw, 720px);
  margin: 0 auto; */
  background-color: #f9f9f9;
  color: black;
  font-family: "Oxygen", sans-serif;
  max-width: 500px;
  margin-inline: auto;
}

.test-cons-prod{
  background-color: white;
}